<app-nav-bar></app-nav-bar>

<div class="table">
    <h1>NOMBRE SUCURSAL</h1>
    <table class="table table">
      <thead style="background-color: #FFD60A;">
        <tr>
          <th scope="col">NOMBRE DE PRODUCTO</th>
          <th scope="col">PROVEEDOR</th>
          <th scope="col">PRECIO</th>
          <th scope="col">STOCK</th>
          <th scope="col">VENTAS</th>
          <th scope="col">VENDER</th>
        </tr>
      </thead>
      <tbody class="table-group-divider">
        <tr class="texto">
          <td>Chuck Tylor</td>
          <td>Converse</td>
          <td>Q. 749.00</td>
          <td>31</td>
          <td>19</td>
          <td>
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModalSellProduct"><img src="../../../assets/images/cart.png" alt="" class="img-icons"></button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <!-- MODAL PARA VENDER UN PRODUCTO -->
  <div class="modal fade" id="exampleModalSellProduct" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="container">
            <div class="modal-content">
                <div class="contact-box">
                    <div class="left"></div>
                    <div class="right">
                        <div class="position-relative">
                            <button type="button" class="btn-close position-absolute top-0 start-100 translate-middle" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <h4>Vender producto</h4>
                        <input type="text" class="field" placeholder="Cantidad que desea vender">
                        <button class="buttonModalNewUser mb-3" data-bs-dismiss="modal">Vender</button>
                        <button style="background: #F8333C;" class="buttonModalNewUser" data-bs-dismiss="modal">Cancelar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>
