
<div class="fondo">
  <app-nav-bar></app-nav-bar>


  <div class="d-flex justify-content-between mt-3">
    <div class="ms-5 mt-1">
      <button class="buttonHome me-4 mt-2 mb-3" data-bs-toggle="modal" data-bs-target="#modalBuscarProducto"
      type="button">
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      Ordenar
  </button>
    </div>


    <div class="horizontal">
      <div class="input-group ms-5 mt-3 mb-3 me-3">
        <input [(ngModel)]="this.search" name="filter" type="text" class="form-control confButton" placeholder="Búsqueda por producto" aria-label="Recipient's username" aria-describedby="basic-addon2">
        <span class="spanSearch input-group-text"><img src="../../../assets/images/lupa.png" class="img-spanSeach"></span>
        
      </div>
      <div class="input-group ms-5 mt-3 mb-3 me-3">
        <input [(ngModel)]="this.searchSupplier" name="filter" type="text" class="form-control confButton" placeholder="Búsqueda por proveedor" aria-label="Recipient's username" aria-describedby="basic-addon2">
        <span class="spanSearch input-group-text"><img src="../../../assets/images/lupa.png" class="img-spanSeach"></span>
      </div>
    </div>

    <div>
        <button [routerLink]="['/officeGraphic/', this.idOffice]" class="buttonHome me-4 mt-3 mb-3"
            type="button">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <img src="../../../assets/images/grafico.png" alt="" width="85rem">
            Gráfica
        </button>
    </div>
  </div>

  <div class="table">
      <h1>{{this.office.name}}</h1>
      <table class="table table mt-3">
        <thead style="background-color: #FFD60A;">
          <tr>
            <th scope="col">NOMBRE DE PRODUCTO</th>
            <th scope="col">PROVEEDOR</th>
            <th scope="col">PRECIO</th>
            <th scope="col">STOCK</th>
            <th scope="col">VENTAS</th>
            <th scope="col">VENDER</th>
          </tr>
        </thead>
        <tbody *ngFor="let product of arrayProducts | searchProductOffice: this.search |searchSupplierOffice: this.searchSupplier" class="table-group-divider">
          <tr class="texto">
            <td>{{product.name}}</td>
            <td>{{product.supplier}}</td>
            <td>Q. {{product.price}}</td>
            <td>{{product.stock}}</td>
            <td>{{product.totalSales}}</td>
            <td>
              <button (click)="getProductOffice(product._id)" type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModalSellProduct"><img src="../../../assets/images/cart.png" alt="" class="img-icons"></button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <!-- MODAL PARA VENDER UN PRODUCTO -->
    <div class="modal fade" id="exampleModalSellProduct" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered modal-lg">
          <div class="container">
              <div class="modal-content">
                  <div class="contact-box">
                      <div class="left"></div>
                      <div class="right">
                          <div class="position-relative">
                              <button type="button" class="btn-close position-absolute top-0 start-100 translate-middle" data-bs-dismiss="modal" aria-label="Close"></button>
                          </div>
                          <h4>{{this.nameProduct}}</h4>
                          <input [(ngModel)]="this.quantity" name="cantidad" type="text" class="field" placeholder="Cantidad que desea vender">
                          <button (click)="sellProduct()" class="buttonModalNewUser mb-3" data-bs-dismiss="modal">Vender</button>
                          <button style="background: #F8333C;" class="buttonModalNewUser" data-bs-dismiss="modal">Cancelar</button>
                      </div>
                  </div>
              </div>
          </div>
      </div>
    </div>

</div>

<!-- Modal Buscar Producto -->
<div class="modal fade "  data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true" id="modalBuscarProducto" tabindex="-1" aria-labelledby="exampleModalLabel"
aria-hidden="true">
<div class="modal-dialog  modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header" style="background: #001d3d">
        <h5 class="modal-title" id="exampleModalLabel" style="color: whitesmoke">
          <i class="bi bi-clipboard2-check"></i>   Orden de stock de productos</h5>
            <button type="button" class="btn-close btn-close-white"  data-bs-dismiss="modal"  aria-label="Close"></button>
          </div>

      <div class="row justify-content-center align-items-center p-5" >
        <div class="col-5 ">
          <button type="button" (click)="sortProductsOfficeByLargerStock()" class="btn btn-primary" data-bs-dismiss="modal"  > <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-bar-up" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M8 10a.5.5 0 0 0 .5-.5V3.707l2.146 2.147a.5.5 0 0 0 .708-.708l-3-3a.5.5 0 0 0-.708 0l-3 3a.5.5 0 1 0 .708.708L7.5 3.707V9.5a.5.5 0 0 0 .5.5zm-7 2.5a.5.5 0 0 1 .5-.5h13a.5.5 0 0 1 0 1h-13a.5.5 0 0 1-.5-.5z"/>
          </svg> De mayor a menor</button>
         </div>

        <div class="col-5 ">
          <button (click)="sortProductsOfficeByRetailStock()" type="button" class="btn btn-danger" data-bs-dismiss="modal" ><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-bar-down" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M1 3.5a.5.5 0 0 1 .5-.5h13a.5.5 0 0 1 0 1h-13a.5.5 0 0 1-.5-.5zM8 6a.5.5 0 0 1 .5.5v5.793l2.146-2.147a.5.5 0 0 1 .708.708l-3 3a.5.5 0 0 1-.708 0l-3-3a.5.5 0 0 1 .708-.708L7.5 12.293V6.5A.5.5 0 0 1 8 6z"/>
          </svg> De menor a mayor</button>

        </div>
      </div>
      <div class="modal-footer" style="background: #001d3d">
      </div>
    </div>
</div>
</div>
